.filter-video__video-item {
  width: 20%;
  margin: 1rem;
  text-decoration: none;
  color: black;
  border: solid black 1px;
  border-radius: 4px;
}

.filter-video__videos-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filter-video {
  margin: 10vw;
}